form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}
form p {
	margin: 20px;
}
form p button {
	width: 40vw;
	background: rgb(50, 6, 244);
	color: white;
	height: 10vh;
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
}
form button {
	cursor: pointer;
}
